/.ipynb_checkpoints/
data/dim_clase_viaje/_SUCCESS
data/dim_clase_viaje/._SUCCESS.crc
data/dim_clase_viaje/.part-00000-9f6ca900-1ed4-4024-9c87-a5538624d643-c000.csv.crc
data/dim_embarque/_SUCCESS
data/dim_embarque/._SUCCESS.crc
data/dim_embarque/.part-00000-da7f3544-a69c-450d-820c-860fdf8cf4a0-c000.csv.crc
data/dim_estado_personas/_SUCCESS
data/dim_estado_personas/._SUCCESS.crc
data/dim_estado_personas/.part-00000-a8437d41-7b00-4eca-8ce1-803b22361ed2-c000.csv.crc
data/dim_residencias/_SUCCESS
data/dim_residencias/._SUCCESS.crc
data/dim_residencias/.part-00000-1c3152fd-f308-4fd1-95cd-a155b17e46e7-c000.csv.crc
data/fact_pasajeros/_SUCCESS
data/fact_pasajeros/._SUCCESS.crc
data/fact_pasajeros/.part-00000-57358bf4-6a64-4a82-b999-09e9b15a1740-c000.csv.crc
data/agentes_inmobiliarios.txt
data/catalogos.xlsx
data/clases.csv
data/operaciones_2022.csv
data/operaciones_2023.csv
data/operaciones_master.csv
data/personas_titanic.csv
data/registro_publico.csv
Introducción_PySpark_Usado.ipynb
Introducción_PySpark_Original.ipynb
prueba_conexión.ipynb
